body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height:100vh;
  min-height:100vh;
}

a {
  color: #00B7FF;
}

.card {
  margin-top: 25px;
  border-radius: 20px;
  box-shadow: 0 0 8px 0 rgba(40, 39, 38, 0.2);
  border:0;
}

.card:hover {
  box-shadow: 0 0 2px 0 rgba(40, 39, 38, 0.2);
  background-color: blanchedalmond;
  cursor: pointer;
}

.card-text {
  margin-bottom: 5px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}