<!--Based on bootstrap card for layout, styled uniquely-->


<div class="card">
    <div class="card-body">
        <p class="card-text"><%= pretitle %></p>
        <h5 class="card-title"><%= keytitle %></h5>
    </div>
  </div>