<h1>Hello <span class="nerd-text">admin</span></h1>
<h5>Here you can view all reservations and modify them as needed.</h5>
<h1>All Reservations</h1>
<div class="row">
  <%- include ReservationCards.ejs %>
</div>
