<div class="modal fade" tabindex="-1" id="connectModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="connectedNetwork">Connect your Web3 Wallet</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div id="connectedContainer" class="col-12 d-none">
                        <p id="connectedProvider">Provider: </p>
                        <p id="connectedAddress">Address: </p>
                      </div>

                    <div id="connectToProviderContainer" class="col-12">
                        <p>Connect to a Web3 Provider</p>
                    
                    <div class="col-12 col-md-6 offset-md-3 my-2">
                        <button class="btn btn-outline-success w-100 linkToMetaMask" id="connectMetaMask">MetaMask</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="modal-footer m-auto">
          <p class="small" id="walletContractFooter"></p>
      </div>
      </div>
    </div>
  </div>